In [18]:
import pyodbc 
import pandas
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=JAHANZAIBADILR5\SQLEXPRESS;'
                      'Database=AdventureWorks2017;'
                      'Trusted_Connection=yes;')

In [20]:
## TO CHECK
cursor = conn.cursor()
cursor.execute('SELECT SalesOrderID,OrderQty, UnitPrice FROM [AdventureWorks2017].[Sales].[SalesOrderDetail]')
for row in cursor:
    print(row)

In [11]:
sql = 'SELECT SalesOrderID,OrderQty, UnitPrice FROM [AdventureWorks2017].[Sales].[SalesOrderDetail]'

In [16]:
data = pandas.read_sql(sql,conn)

In [17]:
data

        SalesOrderID  OrderQty  UnitPrice
0              43659         1   2024.994
1              43659         3   2024.994
2              43659         1   2024.994
3              43659         1   2039.994
4              43659         1   2039.994
...              ...       ...        ...
121312         75122         1     21.980
121313         75122         1      8.990
121314         75123         1     21.980
121315         75123         1    159.000
121316         75123         1      8.990

[121317 rows x 3 columns]